.body-home {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ตั้งค่าความกว้างของการแสดงผล */
.body-main{
    border: 1px solid rgb(227, 225, 225);
    /* box-shadow: 1px 1px 5px  rgba(181, 181, 181, 0.4); */
    width: 1100px;
    margin: 1rem auto;
}

/* หมวดอาหาร */
.categories-container {
  width: 100%;
  overflow-x: scroll;
  padding: 10px 0;
  background-color: #f5f5f5;
}

.categories-list {
  display: flex;
  flex-wrap: nowrap;
}

.category-item {
  background-color: #ff7f50;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.category-item:hover {
  background-color: #ff4500;
}

/* รูปภาพ */
.img-home{
    /* border: 1px solid red; */
    box-shadow: 1px 1px 5px  rgba(49, 49, 49, 0.4);
    width: 1100px;
    height: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-home img{
    border: 1px solid rgb(42, 22, 22);
}

/* อาหาร */
.content-menu{
    /* border: 1px solid red; */
    box-shadow: 1px 1px 5px  rgba(49, 49, 49, 0.4);
    display: grid;
    grid-template-columns: 800px auto;
    gap: 5px;
    padding: 5px;
}
.content-menu .menu-general{
    border: 1px solid rgb(226, 222, 222);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    padding: 7px;
}


/* เมนูยอดฮิต */
.menu-group{
  /* border: 1px solid rgb(204, 204, 204); */
  box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.3);
  padding: 0 2px;
}
.menu-group .special-menu{
  /* border: 1px solid rgb(233, 232, 232); */
  box-shadow: 1px 1px 5px  rgba(49, 49, 49, 0.4);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 150px 100px;
  align-items: center;
  gap: 10px;
  padding: 4px;
  margin: 0.3rem auto;
}
.menu-group .special-menu img{
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

